.methodology {
    padding-bottom: 0;
    --card-item: 4;
}

.methodology-icon-container {
    display: flex;
    margin-bottom: 30px;
    height: 120px; 
    background-color: var(--secondary-background-color);
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}

.methodology-subtitle {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}